# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment & secrets
*.env
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs & databases
*.log
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# IDEs & editors
.vscode/
.idea/
*.swp

# project-specific
data_raw/
data_work/
tests/